body {
    background-color: rgb(221, 216, 216);
}

h1 {
    text-align: center;
    letter-spacing: 5px;
    font-family :Arial, Helvetica, sans-serif;
}

.seccionhtml {
    display: flex; /* propiedad de posicion */
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

#html {
    width: 80%; /* margenes derecha e izquierda */
    margin: 0 auto; /* lo centra */
    color: white;
    background-color: rgb(165, 162, 162);
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0.5em;
}

.imghtml {
    float: left;
    margin-left: 200px;
    width: 280px;
}

.text-html {
    text-align: justify;
    text-indent: 2em;
    line-height: 1.1em;
    width: 85%; /* margenes derecha e izquierda */
    margin: 0; /* lo centra */
}

.seccioncss {
    display: flex; /* propiedad de posicion */
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

#css {
    width: 80%; /* margenes derecha e izquierda */
    margin: 0 auto; /* lo centra */
    color: white;
    background-color: rgb(165, 162, 162);
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0.5em;
}

.imgcss {
    float: left;
    margin-left: 170px;
    width: 260px;
}


.text-css {
    text-align: justify;
    text-indent: 2em;
    line-height: 1.1em;
    width: 85%; /* margenes derecha e izquierda */
    margin: 0; /* lo centra */
}

.rojo {
    color: red;
    font-style: oblique;

}

.negritas {
    font-weight: bold;
    background-color: white;
}